@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Philosopher", sans-serif !important; 
}

[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Disable horizontal scrolling */
}

input::placeholder {
    opacity: 0.8;
}

input::-ms-input-placeholder {
    opacity: 0.8;
}

body {
    overflow-y: scroll; 
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    display: none; 
} 
